body {
  background-color: white;
  font-family: Verdana,sans-serif;
  font-size: 12px;
}

.App {
  text-align: center;
  background-color: white;
  width: 100%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}
.sama table{
  background-color: white;
  border-collapse: collapse;
  color: #331f00;
  text-align: left;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container-29 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
}

.categories-keys, .times, .special-time{
  font-weight: bold;
  color: black;
  border-right: solid 2px #fff5e6;
  text-align: center;
  font-size: small;
}

.break{
  font-weight: bold;
  background-color: burlywood !important;
  color: #fff;
  text-align: center;
  font-style: italic;
}

.title{
  color: #331f00;
  margin-left: 10px;
}

.speaker, .info{
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
}
.info img{
  height: 3vmin;
  margin-bottom: 5px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #fff5e6;
}
.table, .table td, .table th {
  border-color: burlywood;
}

.table thead th {
  border-bottom: 2px solid burlywood;
  vertical-align: middle;
}

.author{
  text-align: center;
}